<%- include('./partials/header') %>


<h1>Blog Posts</h1>
<% if (posts && posts.length > 0) { %>
  <% posts.forEach(post => { %>
    <div class="post">
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>

      <a href="/posts/<%= post.id %>/edit">Edit</a>

      <% if (user && user._id.toString() === post.user.toString()) { %>
      <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE</button>
      </form>
      <% } %>
    </div>
  <% }) %>
<% } else { %>
  <p>No posts to display.</p>
<% } %>

<%- include('./partials/footer') %>
