<%- include('../partials/header') %>

<h1 class="edit-title">EDIT POST</h1>
<form class="edit-post" action="/posts/<%= post._id %>?_method=PUT" method="POST">
  <input placeholder="Post Title" type="text" name="title" value="<%= post.title %>" required>
  <input type="text" name="image" placeholder="Image URL">
  <textarea placeholder="Type Your Post Here" name="content" rows="10" cols="50" required><%= post.content %></textarea>
  <button type="submit">Update Post</button>
</form>

<%- include('../partials/footer') %>